body{
background-color: rgb(15, 15, 15);
}


h1,h{
    color: azure;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}

a{
    color:rgb(121, 121, 121);
}

h3,p{
    color: azure;
    font-family: monospace;
    font-weight: bolder;
}

.warn{
    color:rgb(255, 0, 0);
}

.banner{
    height:200px;
    width:1589px;
    border-radius: 1rem;
}

 /* Style the button that is used to open and close the collapsible content */
 .collapsible {
    background-color: #ffffff00;
    color: #ffffff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #cccccc00;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content{
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #272727;
  } 